*{
    border: 0;
    margin: 0;
    border-collapse: collapse;
    
}

body{
    background-color: burlywood;
    height: 100%;
}

/* *************** barra de navegación ******************* */

nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(34, 26, 26, 0.596);
    top: 0;
    position: fixed;
    width: 100%;
    font-family: sans-serif;
   
}

li{
    display: inline;
    padding: 40px 0px;
}

li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    display: inline;
    padding-right: 20px;
    
}

li a:hover {
    background-color: #505050;
    width: 100%;
    padding: 10px;
  }
  

.redsocial{
    height: 25px;
    width: 25px;
    box-shadow: none;
    display: inline;
}

/* ****************** PORTADA *********************** */

.main-portada {
    margin-bottom: 0px;
    height: 50%;
}

.portada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 20px;
    margin-top: 90px;
    margin-bottom: 60px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
    font-family:'Times New Roman', Times, serif ;
    background-color: rgba(34, 26, 26, 0.596);
    padding: 10px;
}

/* *************  EXPO.HTML *********************** */

.main-expo img {
    display: block;
    width: 90%;
    height: 80%;
    box-shadow: 10px 10px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 30px;
}

.grid-dibujos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 30px;

    font-family: 'Vina Sans', sans-serif;
    color: #ffffff;
}

.dibujos {
    display: block;
    width: 250px;
    height: 380px;
    border-radius: 5px;
    background-color: rgb(25, 24, 24);  
    text-align: left; 
    padding-bottom: 10px;

}

.datos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.autor {
    display: block;
    text-align: left;
    font-family: "Constantia", serif;
    font-size: 1rem;
}

.sm {
    display: block;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(14, 255, 14);
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

/* ******************* NOSOTROS.HTML **************************** */

.grid-fotos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}


.fotos {
    display: block;
    width: 250px;
    height: 360px;
    background-color: rgb(193, 184, 19);
    
}

.main-nosotros img { 
    display: block;
    width: 90%;
    box-shadow: 10px 10px rgb(252, 151, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.autor {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* **************************************************************** */
/* *********************** MEDIA QUERIES ************************** */
/* **************************************************************** */

/* ********* PC ************** */

@media (min-width: 401px)  {
   
    .portada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        border-radius: 20px;
        margin-top:160px;
    }
   
    .grid-fotos,
    .grid-dibujos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* ************ MÓVIL ********** */

@media (max-width: 400px)  {

    .main-portada {
        height: 300px;
        margin: 0;
    }

    .portada {
        width: 90%;
        margin-top: 250px;
    }

    .grid-fotos,
    .grid-dibujos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}